/************************** IMPORT VARIABLES **************************/
@use "variables" as *;

// MEDIA QUERY STARTS HERE
@media only screen and (min-width: $break-point) {

  /************************** HAMBURGER **************************/
  .hamburger-button {
    display: none;
  }

  /************************** NAVIGATION **************************/
  nav {
    display: block;

    ul {
      display: flex;
    }

    a {
      border: none;
    }
  }

}