/************************** IMPORT VARIABLES **************************/
@use "variables" as *;

/************************** HAMBURGER **************************/
.hamburger-button {
    background: none;
    border: none;
    color: var(--color-mygrey-80);
    cursor: pointer;
    font-family: Verdana;
    font-size: 2rem;
}

.hamburger-button::before {
    content: "\2630";
}

.hamburger-button.show::before {
    content: "\00D7";
}



/************************** NAVIGATION **************************/
.site-nav {
    @include reset;
    list-style: none;
    display: none;
}

.site-nav a {
    display: block;
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-grey-60;
    text-decoration: none;
    padding: 0.6rem 10px;
    border-bottom: 1px solid $color-grey-5;

    &:hover {
        background-color: $color-grey-5;
    }
}

.site-nav li.active a {
    text-decoration: underline;
    color: $color-primary
}

.site-nav.open {
    display: block;
}